.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.li {
  list-style-type: none;
  color: blue;
}

.btn {
  background: #3498db;
  border-radius: 28px;
  font-family: Arial;
  text-align: center;
  vertical-align: center;
  color: #ffffff;
  display: inline-block;
  font-size: 22px;
  padding: 15px 15px 15px 15px;
  text-decoration: none;
  width: 180px;
  height: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
